body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.link-container {
    text-align: center;
    margin-top: 20px;
}

.link {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.link:hover {
    background-color: darkslateblue;
}